@page "/EmailValidation"

@using System.ComponentModel.DataAnnotations
@using BusinessLogic.Contracts
@using BusinessLogic.Services
@using Models
@using ShoppingPOC.Components.LoginComponents
@using ShoppingPOC.ViewModels
@rendermode InteractiveServer



@if (!_showCodeValidation && !_showPasswordUpdate)
{
    <h3>Email Validation</h3>
    <EditForm Model=@_passwordResetModel OnValidSubmit="HandleEmailValidationAsync" FormName="formEmailValidation">
        <DataAnnotationsValidator />
        <div class="grid-container">
            <div class="form-group">
                <label for="email">Email: </label>
                <InputText id="email" type="email" class="form-control" @bind-Value="_passwordResetModel.Email" />
            </div>
            <ValidationMessage For="@(() => _passwordResetModel.Email)" />
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Email validation</button>
            </div>
            @if (!string.IsNullOrEmpty(_emailStatusMessage))
            {
                <div class="alert alert-info mt-3">@_emailStatusMessage</div>
            }
        </div>
    </EditForm>
}


<CodeValidation IsVisible="@_showCodeValidation"
                ValidationCode="_passwordResetModel.ValidationCode"
                OnSuccessfulValidation="UpdateUI" />

<PasswordUpdate IsVisible="@_showPasswordUpdate"
           EmailValidation="@_confirmedEmail" />

@if (_spinner)
{
    <Spinner Label="Sending code..." />

}
@code {

    [Inject]
    private IEmailService _emailService { get; set; }

    [Inject]
    private NavigationManager _navManager { get; set; }


    [SupplyParameterFromForm(FormName = "formEmailValidation")]
    private PasswordResetViewModel _passwordResetModel { get; set; } = new();

    private bool _showCodeValidation = false;
    private bool _showPasswordUpdate = false;
    private bool _spinner = false;
    private string _emailStatusMessage;
    private string _confirmedEmail;

    private int GenerateUniqueSixDigitCode()
    {
        Random rnd = new Random();
        HashSet<int> digits = new();

        while (digits.Count < 6)
        {
            digits.Add(rnd.Next(0, 10));
        }

        return int.Parse(string.Concat(digits));
    }

    public async Task HandleEmailValidationAsync()
    {
        _passwordResetModel.ValidationCode = GenerateUniqueSixDigitCode();

        var result = await _emailService.SendMailAsync(
            _passwordResetModel.Email,
            "Email confirmation",
            "Your validation code is: " + _passwordResetModel.ValidationCode
        );

        Console.WriteLine("Email: " + _passwordResetModel.Email);
        Console.WriteLine("Code sent: " + _passwordResetModel.ValidationCode);

        if (result.StatusCode == ResultStatusCode.Success)
        {
            _confirmedEmail = _passwordResetModel.Email;
            _spinner = true;
            StateHasChanged();
            await Task.Delay(2000);

            _spinner = false;
            _emailStatusMessage = "The mail was sent successfully.";
            StateHasChanged();
            await Task.Delay(2000);
            _showCodeValidation = true;

        }
        else
        {
            _emailStatusMessage = $"An error occurred while attempting to send the email:  {result.ErrorMessage}";
            _showCodeValidation = false;
        }
    }

    private void UpdateUI(bool isValidated)
    {
        if (isValidated)
        {
            _showCodeValidation = false;
            _showPasswordUpdate = true;
            _emailStatusMessage = string.Empty;
            StateHasChanged();
        }

        else 
        {
            _emailStatusMessage = string.Empty;
            _showCodeValidation = false;
            _showPasswordUpdate = false;
            _emailStatusMessage = "The validation code was incorrect.";
            StateHasChanged();
        }
    }
}
